
.h1 {
    background-color: #06ab06;
    margin: 40px;
}

.h3 {
    background-color: #23068a;
    margin: 40px;
    
}
.table {
    width: 100%;
    border-collapse: collapse;
    justify-content: center;
    
}




